@font-face {
  font-family: "Stem";
  src: url("Fonts/Stem/Stem-Light.eot");
  src: local("Stem Light"), local("Stem-Light"),
    url("Fonts/Stem/Stem-Light.eot?#iefix") format("embedded-opentype"),
    url("Fonts/Stem/Stem-Light.woff2") format("woff2"),
    url("Fonts/Stem/Stem-Light.woff") format("woff"),
    url("Fonts/Stem/Stem-Light.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  font-family: "Stem";
}

h1,
footer > p {
  color: #3f434a;
  text-align: center;
}

footer {
  color: #8a9099;
}

.ImgMain {
  height: 100%;
  width: 50%;
}

.BodyAuth {
  background-color: #304ffd;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.MainAuth {
  background-color: white;
  width: 40%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.FormAuth {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 30%;
}

.Field {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.FieldText {
  opacity: 50%;
}

.FieldInput {
  height: 40px;
  border-color: #e8e9eb;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 14px;
  font-size: 14px;
}

.AuthOptions {
  display: flex;
  justify-content: space-between;
}

button {
  background: #304ffd;
  border-radius: 14px;
  color: #fff;
  border: 0.1px solid #304ffd;
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: #304ffd;
}
button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
button[class^="grow"]::after {
  transition: all 0.3s ease;
}
button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}
button.grow_ellipse::after {
  border-radius: 50%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  line-height: 8.34em;
  transform: scale(0, 0);
}
button.grow_ellipse:hover::after {
  transform: scale(1, 1);
}
